<mat-sidenav-container>
    <mat-sidenav class="p-0" #sidenav mode="side" [(opened)]="opened">
        <div class="side-menu flex-col center">
            <img class="logo" src="../../../assets/imgs/logo.png" alt="">
            
            <div class="menu flex-col">
                <div class="icon flex-col">
                    <i class="material-icons glass">login</i>
                </div>
            
                <div class="icon flex-col">
                    <i class="material-icons trending add">add_circle</i>
                </div>
                
                <div class="icon flex-col">
                    <i class="material-icons trending add">settings</i>
                </div>
                
                <div class="icon flex-col">
                    <i class="material-icons trending add">help</i>
                </div>
               
                <div class="icon flex-col">
                    <i class="material-icons trending add">info</i>
                </div>
            
            </div>
        </div>

    </mat-sidenav>
    <mat-sidenav-content class="flex">
        <button class="toggle flex center b-0 bold" (click)="opened=!opened">
            <i class="material-icons btn">{{ opened ? 'arrow_back_ios' : 'arrow_forward_ios' }}</i>
          </button>
    </mat-sidenav-content>
</mat-sidenav-container>