<div class="article">
    <div class="date">
            <h2>27 <br>MAR</h2>
    </div>
    <div class="content">
        <h1 class="green mb">Título maneiro</h1>
        <p class="mb">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis, quibusdam! Eligendi, id perferendis laboriosam provident adipisci animi, minima, suscipit quia dicta quisquam blanditiis magni? Qui perferendis quos veritatis distinctio iure! Lorem ipsum dolor sit amet consectetur adipisicing elit. A obcaecati vitae blanditiis corporis voluptatem fugit earum ipsum dolorum delectus <a class="green readmore" href="">...ler mais</a></p>
        <div class="btn mb end">
            <button class="green">#tag</button>
            <button class="green">#tag</button>
        </div>
    </div>
</div>
