.article {
    margin-top: 1rem;
    margin-left: 8rem;
}

.date {
    margin: 2rem 2.4rem 0 3.2rem;
    color: var(--atri-article-date);
    text-align: end;
}

.content {
    color: var(--atri-article-text);
    width: 50%;
    text-align: justify;
}

.btn {
    display: inline-flex;
    gap: 2rem;
}

.btn > button {
    width: fit-content;
    background-color: var(--atri-bg);
    padding: .25rem 1rem;
    border: .1rem solid var(--atri-green-medium);
    border-radius: 4rem;
    color: var(--atri-green-medium)
}

.green {
    text-decoration: none;
    color: var(--atri-green);
}

.author {
    color: var(--atri-green-dark);
}

.title {
    font-family: var(--atri-article-title-font);
}

.subtitle {
    font-size: .8rem;
    text-indent: 1px;
    letter-spacing: .2px;
}

.readmore {
    font-weight: 200;
}

.end {
    margin-bottom: 4rem;
}

