.green {
    text-decoration: none;
    color: var(--atri-green);
}

.author {
    color: var(--atri-green-dark);
}

.mb {
    margin-bottom: .8rem; 
}

.mt {
    margin-top: 1.2rem;
}

.start {
    margin-top: .8rem;
}

.date {
    margin: 2rem 2.8rem 0 3.2rem;
    display: flex;
    color: #dcdcdc;
    text-align: end;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    color: #fafafa;
    width: 70%;
    text-align: justify;
}

.article {
    display: flex;
    margin-top: 1rem;
}

.btn {
    display: inline-flex;
    gap: 2rem;
}

.btn > button {
    width: fit-content;
    background-color: var(--atri-bg);
    padding: .25rem 1rem;
    border: .1rem solid var(--atri-green-medium);
    border-radius: 4rem;
    color: var(--atri-green-medium)
}

.flex {
    display: flex;
}

.readmore {
    font-weight: 200;
}

.end {
    margin-bottom: 4rem;
}

.indent {
    text-indent: 1px;
}

.subtitle {
    font-size: .8rem;
}