.pagenav {
    width: 87.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}


.btn {
    background-color: var(--atri-bg);
    border: none;
    color: var(--atri-green);
}

.navbtn, button {
    padding: 0;
}

p {
    color: var(--atri-green);
    font-size: .8rem;
}

.material-icons {
    font-size: 1.6rem;
}

.bold {
    font-weight: 900;
}

.fog {
    color: var(--atri-green-medium);
}