/* You can add global styles to this file, and also import other style files */

:root {
    --atri-green: #6EEB83;
    --atri-bg: #272727;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Inter', "Helvetica Neue", sans-serif; background-color: var(--atri-bg); }
