:root {
    --atri-green: #04BF7B;
    --atri-green-medium: #048C5A;
    --atri-green-dark: #05593A;
    --atri-bg: #0A0A0D;
}

html, body { min-height: 100%; }
body { margin: 0; font-family: 'Inter', "Helvetica Neue", sans-serif; background-color: var(--atri-bg); }


h1, h2, h3, p {
    margin: 0;
}